stages:
  - test2
  - test

test-application:
  stage: test2
  image: ubuntu
  variables:
    SERVICES: s3,sns,sqs
    HOSTNAME_EXTERNAL: localstack 
    DEFAULT_REGION: eu-west-2
    AWS_ACCESS_KEY_ID: localkey
    AWS_SECRET_ACCESS_KEY: localsecret
  services:
    - name: localstack/localstack
      alias: localstack
  script:
    - apt -y update
    - apt -y install pip
    - pip install awscli
    - aws s3api list-buckets --endpoint-url=http://localstack:4566
    - aws --endpoint-url=http://localstack:4566 s3 ls
    - aws --endpoint-url=http://localstack:4566 s3 mb s3://my-test-bucket
    - aws --endpoint-url=http://localstack:4566 ls


test-localstack:
  stage: test2
  services:
     alias: localstack
  script:
   - aws --endpoint-url=http://localstack:4566 s3 ls
