stages:
  - test2

test-application:
  stage: test2
  image: ubuntu
  variables:
    SERVICES: s3
    S3_ENDPOINT: http://localstack:4563
    HOSTNAME_EXTERNAL: localstack 
    DEFAULT_REGION: eu-west-2
    AWS_ACCESS_KEY_ID: localkey
    AWS_SECRET_ACCESS_KEY: localsecret
    USER: 'root'
  services:
    - name: localstack/localstack
      alias: localstack
  script:
    - apt -y update
    - apt -y install pip
    - pip install awscli
    - aws --endpoint-url=http://localstack:4563 s3 ls