stages:
  - test

test-public-image:
  stage: test
  image: node:8
  variables:
    SERVICES: sqs:4576
    HOSTNAME_EXTERNAL: thatawsthing ## Name of the host to expose the services externally (defaults to localhost). This host is used, e.g., when returning queue URLs from the SQS service to the client.
  services:
    - name: localstack/localstack
      alias: thatawsthing
  script:
    - yarn install
    - AWS_SQS_SERVICE_URL=http://thatawsthing:4576 yarn test

