image: ubuntu
stages:
  - build
  - create
  - list

variables:
    SERVICES: s3,sns,sqs, dynamodb
    HOSTNAME_EXTERNAL: localstack 
    DEFAULT_REGION: eu-west-2
    AWS_ACCESS_KEY_ID: localkey
    AWS_SECRET_ACCESS_KEY: localsecret

before_script:
   # - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.example.com
    - apt -y update
    - apt -y install pip
    - pip install awscli

test-application:
  stage: create 
  services:
  - name: localstack/localstack
    alias: localstack
  #extends: build
  script:
    - aws s3api list-buckets --endpoint-url=http://localstack:4566
    - aws --endpoint-url=http://localstack:4566 s3 ls
    - aws --endpoint-url=http://localstack:4566 s3 mb s3://my-test-bucket
    - aws --endpoint-url=http://localstack:4566 s3 ls s3://my-test-bucket


test-localstack:
  stage: list
  services:
    - name: localstack/localstack
      alias: localstack
    script:
      - aws --endpoint-url=http://localstack:4566 s3 ls

